#mainMenu{
    background: #000000;
    /*opacity: 0.8;*/
    /*background: #292f38;*/
}
.product_item{
    width: 18%;
    height: 310px;
    font-size: 12px;
    
    
}
.sub_menu_wrap b{
    border-bottom: 1px solid #cc0000;
}
.all_products li{
    
}
.f_weight_500{
    font-weight: 500;
}